name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Lint
        run: pnpm lint

      - name: Run Tests
        run: pnpm test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Test Local Action 1
        id: test-action-1
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag: v1.0.0
          mode: release
          title: Bruh
          dry-run: true

      - name: Test Local Action 2
        id: test-action-2
        uses: ./
        with:
          tag: hello@1.0.0-rc.1
          mode: get-packages-info
          packages-info-file: tests/__fixtures__/pkg-info-success-1.yaml

      - name: Assert Test 2 Outputs
        run: |
          [[ "${{ steps.test-action-2.outputs.package-name }}" == "hello" ]] || exit 1
          [[ "${{ steps.test-action-2.outputs.package-full-name }}" == "Hello Package" ]] || exit 1
          [[ "${{ steps.test-action-2.outputs.package-version }}" == "1.0.0-rc.1" ]] || exit 1
          [[ "${{ steps.test-action-2.outputs.package-major-version }}" == "1" ]] || exit 1
          [[ "${{ steps.test-action-2.outputs.package-path }}" == "apps/hello" ]] || exit 1
          [[ "${{ steps.test-action-2.outputs.changelog-path }}" == "apps/hello/CHANGELOG.md" ]] || exit 1
          echo "✓ All Test 2 assertions passed"

      - name: Test Local Action 3
        id: test-action-3
        uses: ./
        with:
          tag: apps/something@1.0.0-rc.1
          mode: get-packages-info
          packages-info-file: tests/__fixtures__/pkg-info-success-1.yaml

      - name: Assert Test 3 Outputs
        run: |
          [[ "${{ steps.test-action-3.outputs.package-name }}" == "apps/something" ]] || exit 1
          [[ "${{ steps.test-action-3.outputs.package-full-name }}" == "" ]] || exit 1
          [[ "${{ steps.test-action-3.outputs.package-version }}" == "1.0.0-rc.1" ]] || exit 1
          [[ "${{ steps.test-action-3.outputs.package-major-version }}" == "1" ]] || exit 1
          [[ "${{ steps.test-action-3.outputs.package-path }}" == "apps/something" ]] || exit 1
          [[ "${{ steps.test-action-3.outputs.changelog-path }}" == "apps/something/CHANGELOG.md" ]] || exit 1
          echo "✓ All Test 3 assertions passed"
